# Copyright (C) 2012 The Android Open Source Project

on boot

# permission for Input Device(Touchkey).
    chown radio system /sys/class/sec/sec_touchkey/touch_sensitivity
    chown radio system /sys/class/sec/sec_touchkey/touchkey_firm_update
    chown system radio /sys/class/sec/sec_touchkey/glove_mode
    chown system radio /sys/class/sec/sec_touchkey/sar_enable
    chown system radio /sys/class/sec/sec_touchkey/sw_reset

# SSWAP
    write /proc/sys/vm/swappiness 130

# Permissions for Input Booster
    chmod 0660 /sys/class/input_booster/level
    chown system radio /sys/class/input_booster/level
    chmod 0660 /sys/class/input_booster/head
    chown system radio /sys/class/input_booster/head
    chmod 0660 /sys/class/input_booster/tail
    chown system radio /sys/class/input_booster/tail

# Keypad
    chown system system /sys/class/sec/sec_keypad/brightness

#Bluetooth	
    # for BT MAC address
    mkdir /efs/bluetooth 0770 system bluetooth
    # if already exist
    chown system bluetooth /efs/bluetooth
    chown system bluetooth /efs/bluetooth/bt_addr
    chmod 0770 /efs/bluetooth
    chmod 0660 /efs/bluetooth/bt_addr

# permissions for bluetooth.
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown radio bluetooth /efs/bluetooth/bt_addr
    chmod 0640 /efs/bluetooth/bt_addr
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

# Permissions for Charging
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/store_mode

# Audio NXP
    chmod 0660 /dev/i2c-1
    chown system system /dev/i2c-1

# vibrator type
    chmod 0666 "/sys/class/sec/vib/dc_pmic"

# Muic
    chown system radio /sys/class/sec/switch/afc_disable

# LED
    chown system system /sys/class/sec/led/led_b
    chown system system /sys/class/sec/led/led_blink
    chown system system /sys/class/sec/led/led_brightness
    chown system system /sys/class/sec/led/led_g
    chown system system /sys/class/sec/led/led_lowpower
    chown system system /sys/class/sec/led/led_pattern
    chown system system /sys/class/sec/led/led_r

# cpu online
    chown system radio /sys/devices/system/cpu/cpu0/online
    chown system radio /sys/devices/system/cpu/cpu1/online
    chown system radio /sys/devices/system/cpu/cpu2/online
    chown system radio /sys/devices/system/cpu/cpu3/online
    chown system radio /sys/devices/system/cpu/cpu4/online

#NFC
	chmod 0660 /dev/sec-nfc
	chown nfc nfc /dev/sec-nfc
#ESE
	chmod 0660 /dev/p3
	chown system system /dev/p3

# Permissions for NXP NFC
# NFC : Permissions for NFC
    chmod 0660 /dev/pn547
# NFC : change owner
    chown nfc nfc /dev/pn547

# Permissions for NXP ESE
    chmod 0660 /dev/p61
    chown system system /dev/p61

on property:sys.boot_completed=1
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/nr_requests 12
    